$if(toc)$
<!DOCTYPE html>
<html lang="$if(ko)$ko$endif$$if(en)$en$endif$$if(zh)$zh$endif$">
<head>
    <meta charset="UTF-8">
    <title>USER GUIDE :: $if(title)$$title$$endif$</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- inject-style src="./.devserver/pdf.css" -->
</head>
<body>

        <!-- <header> -->
        <!--     <div class="utils select language"> -->
        <!--     <1!-- @@insert :: multi language link --1> -->
        <!--     $if(en)$ -->
        <!--         <span>English</span> -->
        <!--     $endif$ -->
        <!--     $for(multiLang)$ -->
        <!--         $if(multiLang.en)$ -->
        <!--             <a href="../en/user_guide_$service$_en.html">English</a> -->
        <!--         $endif$ -->
        <!--     $endfor$ -->
        <!--     $if(ko)$ -->
        <!--         <span>한국어</span> -->
        <!--     $endif$ -->
        <!--     $for(multiLang)$ -->
        <!--         $if(multiLang.ko)$ -->
        <!--             <a href="../ko/user_guide_$service$_ko.html">한국어</a> -->
        <!--         $endif$ -->
        <!--     $endfor$ -->
        <!--     $if(zh)$ -->
        <!--         <span>简体中文</span> -->
        <!--     $endif$ -->

        <!--     $for(multiLang)$ -->
        <!--         $if(multiLang.zh)$ -->
        <!--             <a href="../zh/user_guide_$service$_zh.html">简体中文</a> -->
        <!--         $endif$ -->
        <!--     $endfor$ -->
        <!--     </div> -->
        <!-- </header> -->

        <article class="$if(service)$$service$$endif$">
            <!-- @@placeholder = content -->
            $body$
        </article>

</body>
</html>
$endif$

