<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>USER GUIDE :: $if(title)$ $title$ $endif$</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./manual.css">
    <script src="./jquery-2.2.3.min.js"></script>
</head>
<body>
    <div class="layout-wrap">

        <header>
            <div class="title">
                <a href="#">USER GUIDE</a>
            </div>

            <div class="utils select language">
                <!-- @@insert :: multi language link -->
            </div>
        </header>

        <main role="main">
            <div class="layout-contents">
                <nav id="toc-menu">
                    <span>$if(title)$ $title$ $endif$</span>
                    <p>$if(title)$ $title$ $endif$ 상황별 가이드를 제공합니다.</p>

                    <div class="toc $if(title)$$title$$endif$">
                        <!-- @@placeholder= lnb -->
                        $if(toc)$
                        $table-of-contents$
                        $endif$
                    </div>
                </nav>

                <article class="$if(title)$$title$$endif$">
                    <!-- @@placeholder = content -->
                    $body$
                </article>
            </div>

        </main>

        <footer class="layout-footer">
            <div class="contents-inner">
                <div class="service">
                    <h2 class="title">USER GUIDE</h2>
                </div>
            </div>
        </footer>
    </div>
    <script src="./for_user_manual.js"></script>
</body>
</html>
