/* Common Style */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    line-height: 1.3em;
    border: 0 none;
}

body {
    position: relative;
    min-height: 320px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.3em;
    font-family: $Font-base-stack;
    word-break: normal;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

header, h1 {
    font-size: 100%;
}

html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    line-height:1.1;
}

caption, legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
}

caption {
    display: none;
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%; // 2x일때도 이미지가 화면 바깥을 벗어나지 않게... fallback처리
}

hr {
    display: none;
    border: 0 none;
}


em {
    font-style: normal;
}

menu li {
    list-style: none;
}

address {
    display: inline;
    font-style: normal;
}

button {
    appearance: none;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
keygen,
select,
button {
    font-family: $Font-base-stack;
}

em {
    font-weight: 500;
}

strong {
    font-weight: 700;
}

dfn {
    font-style: normal;
}


/* link Style */

a:link,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* forms */

fieldset {
    appearance: none;
}

select,
input[type=checkbox],
input[type=radio],
input[type=text],
input[type=password],
input[type=submit],
input[type=email],
input[type=search],
input[type=number],
textarea {
    appearance: none;
    cursor: pointer;
    border: 0px;
    outline: 0;
}

button {
    outline: 0;
}



body {
    background-color: #fff;
}

select,
input {
    vertical-align: top;
    border: 0px;
    border-radius: 0;
    background-color: transparent;
}


span.demo.button {
    margin:0;
    font-family:inherit;

    cursor: default;
    border: 0;
    outline: 0;
    background: transparent;
    appearance: none;
    display: inline-block;
    line-height: 1.1;
    box-sizing: border-box;
    text-align: center;
    font-family: inherit;
    border-radius: 0;
    transition: color 0.3s ease-in-out;
    
    min-width:40px;

    padding: 0 12px;
    height: 28px;
    font-size: 12px;
    line-height: 22px;

    &.black {
        color:#fff;
        border:2px solid #000;
        background-color:#000;
    }
}
