/* GNB :: header */
header div.title {
    float: left;
    position: relative;
    height: 50px;

    a {
        display: inline-block;
        font-size: 1.0625rem;
        font-weight: 700;
        color: #000;
        vertical-align: middle;
        line-height: 50px;
    }
}

header .utils.select.language {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    box-sizing: border-box;
    overflow: hidden;
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 3px;
    font-size:0;

    > *:first-child {
        border-left-width:0;
    }

    span,a {
        display:inline-block;
        font-size:rem(12);
        width: 63px;
        height: 30px;
        line-height: 28px;
        box-sizing: border-box;
        border-left: 1px solid #ccc;
        padding: 0;
        text-align: center;
    }

    span {
        font-weight: 700;
        color: #000;
        background-color: #fff;
    }

    a {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.2);
        background-color: #EFEFEF;
    }
}

// 	&[data-state=change] { border-bottom: 0px; background-color: transparent;
// 		transition: all 0.3s ease-in-out;

// 		.title {
// 			.btn-bsp { color: #fff; }
// 		}

// 		.utils {
// 			.btns {
// 				.btn { color: #fff; border: 2px solid #fff;
// 					&.signup { color: #0994F3; background-color: #fff; }
// 				}
// 			}
// 		}
//         .select-language {
// 		    display: block;
// 		    box-sizing: border-box;
// 		    position: relative;
// 		    overflow: hidden;
// 		    height: 30px;
// 		    border: 1px solid #CCC;
// 		    border-radius: 3px;
//             margin-top:-4px;    // !!!! 전역으로는 손 못대고, 버튼이 보기싫은건 사실이니, 땜질로 처리한다. 아.. 할일 많네.
// 		    input[type=radio] {
// 		        /*opacity: 0; visibility: hidden;*/
// 		        position: absolute;
// 		        left: -100%;

// 		        +label {
// 		            cursor: pointer;
// 		            display: block;
// 		            box-sizing: border-box;
// 		            float: left;
// 		            padding: 0;
// 		            height: 30px;
// 		            width: 63px;
// 		            font-size: rem(12);
// 		            font-weight: 400;
// 		            color: rgba(0, 0, 0, 0.2);
// 		            line-height: em(29, 12);
// 		            text-align: center;
// 		            background-color: #EFEFEF;
// 		            &:nth-child(3n+2) {
// 		                border-right: 1px solid #CCC;
// 		                border-left: 1px solid #CCC;
// 		            }
// 		        }

// 		        &:checked {
// 		            +label {
// 		                font-weight: 700;
// 		                color: #000;
// 		                background-color: #fff;
// 		            }
// 		        }
// 		    }
// 		}

// 	}
// }


// a.service.opsnow > .beta {
//     vertical-align:1px;
// }

