@charset "utf-8";

// 프린트용 스타일시트
@media print {
	* {	//don't show anything
		display:none
	}
	// stop before make policy
	//@import "./bsp_its_guide_print";
}



///**
// * variable
// */
//$font-base-stack: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif;
//$font-special-stack: 'Montserrat', 'Noto Sans Korean', 'Apple SD Gothic', sans-serif;
//$contents-width: 1280px;
//$contents-min-width: 1200px;



///* Common Style */
//* { margin: 0; padding: 0; }
///* set html5 elements to block */
//article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
//    display: block;
//}
//html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { line-height: 1.3em; border: 0 none; }
//body { position: relative; min-height: 320px; margin: 0 auto; font-size: 100%; line-height: 1.3em; font-family: $font-base-stack; word-break: normal;
//	text-size-adjust: 100%;
//	-webkit-text-size-adjust: 100%;
//}
//header, h1 { font-size: 100%; }
//html, body { height: 100%; }
//caption,legend { position: absolute; top: -9999px; left: -9999px; width:0; height: 0; font-size: 0; overflow: hidden; visibility: hidden; }
//caption { display: none; }
//img {
//    border: none;
//    vertical-align: top;
//    max-width:100%;     // 2x일때도 이미지가 화면 바깥을 벗어나지 않게... fallback처리
//}
//hr { display: none; border: 0 none; }
//ol, ul, ul li{ list-style: none; }
//em { font-style: normal; }
//menu li { list-style: none; }
//address { display: inline; font-style: normal; }
//button { appearance: none; cursor: pointer; border: 0px; background-color: transparent; }
//table {border-collapse:collapse;border-spacing:0;}
//input, textarea, keygen, select, button { font-family: $font-base-stack; }
//strong { font-weight: normal; }
//dfn { font-style: normal; }

///* link Style */
//a:link, a:visited, a:active, a:focus { text-decoration: none; }
//a:hover { text-decoration: none; }

//.is-hidden { display: none !important; }
//.visible-hidden { visibility: hidden !important; }
//.clear { clear: both; }
//.txt-center { text-align: center !important; }
//.inline-block { display: inline-block; vertical-align: middle; }


///* forms */
//fieldset { appearance: none; }
//select,
//input[type=checkbox],
//input[type=radio],
//input[type=text],
//input[type=password],
//input[type=submit],
//input[type=email],
//input[type=search],
//input[type=number],
//textarea { appearance: none; cursor: pointer; border: 0px; outline: 0; }
//button { outline: 0; }



//body { background-color: #fff; }

//@import "./@components/mixins";
//@import "./@sprites/layout_sprites";

//@import "./@layout/global_menu";
//@import "./@layout/layout_footer";


///* layout contents */
//$GlobalMenuHeight: 80px;
//$SubMenuHeight: 50px;
//$PageTitleHeight: 90px;
//$footerHeight: 34px;
//$footerLogoutHeight: 300px;
//$minHeight: calc(100vh - #{$GlobalMenuHeight} - #{$SubMenuHeight} - #{$footerHeight});

//.button-normal { display: inline-block; box-sizing: border-box; padding: 0 15px; height: 40px; min-width: 100px; font-size: rem(14); font-weight: 700; color: #fff; line-height: 36px; text-align: center; border: 2px solid #000; background-color: #000; margin:10px 0 0;
//	@include transition(color 0.3s ease-in-out);

//	&:hover { color: rgba(255, 255, 255, 0.6);
//		&:before { opacity: 0.6; }
//	}
//	&[disabled] { color: rgba(255, 255, 255, 0.3); border: 2px solid #747474; background-color: #747474; }

//	// size
//	&[data-size=large] { height: 50px; font-size: rem(16); line-height: 44px; }
//	&[data-size=small] { padding-right: 10px; padding-left: 10px; height: 30px; min-width: 50px; font-size: rem(12); line-height: 24px; }

//	// white
//	&[data-state=etc] { font-size: rem(14); font-weight: 400; color: #666666; line-height: 38px; border: 1px solid #DDDDDD; background-color: #fff; }

//	// blue
//	&[data-state=submit] { border: 2px solid #1886FF; background-color: #1886FF;
//		&[disabled] { border: 2px solid #8FC6FE; background-color: #8FC6FE; }
//	}

//}

//.layout-wrap { position: relative; box-sizing: border-box; padding-top: $GlobalMenuHeight; padding-bottom: $footerHeight; max-height: inherit; min-height: 100%; min-width: $contents-width;
//	.service-its & {
//		&.layout-wrap-wide{
//			padding-top:30px;
//			.layout-fixed{
//				.layout-contents-inner{
//					padding:0;
//					border:0;
//					.layout-page-title{
//						padding-top:20px;
//						position:relative;
//						h1{
//							&:before{
//								content:none;
//							}
//						}
//						.close-btn{
//							position:absolute;
//							right:0;
//							top:33px;
//						}
//					}
//					.btn-wrap{
//						margin:10px 0 0;
//						.button-normal{
//							font-size:rem(14);
//							min-width:180px;
//							font-weight:400;
//						}
//					}
//					.chapter{
//						&.last_chapter{
//							text-align:center;
//						}
//					}
//					.category-title {
//						+ p {
//							margin-top: 10px; font-size:  rem(16); line-height: em(22, 16);
//						}
//					}
//				}
//			}
//			figure{
//				.screenshot{
//					text-align:center;
//					padding:20px 0;
//				}
//			}
//		}
//	}

//}
//.layout-left-view { float: left; }
//.layout-right-view { float: right; }

//main[role=main] { min-height: $minHeight; }

//.layout-contents { display: flex; flex-direction: column; align-items: stretch; box-sizing: border-box; position: relative; padding: 0px 40px 100px 40px; min-height: $minHeight;
//	.layout-page-title { display: block; position: relative; margin: 0 -40px; padding: 25px 40px 20px 40px; height: 45px; font-size: rem(30); font-weight: 700; color: #000; line-height: 45px; border-bottom: 1px solid #EEE;
//		h1 { display: inline-block; }

//		.layout-page-title-description {
//			display: block; margin-top: 15px; font-size: rem(16); font-weight: 400; color: #999; line-height: em(20, 16);
//			&.too_line{
//				width:270px;
//			}
//		}
//	}

//	.layout-contents-inner { display: flex; flex-grow: 1; flex-direction: column; box-sizing: border-box; width: 100%; }

//}

//// fixed layout(width 1200px : center)
//.layout-fixed { margin: 0 auto; padding-right: 0; padding-left: 0; width: $contents-min-width !important;
//	.layout-page-title { margin: 0; padding: 40px 20px; border: 0px; }
//	.layout-contents-inner { /*flex-direction: row;*/ justify-content: space-between; align-items: stretch; width: 100%; }

//	.layout-left-view { flex-grow: 1; flex-basis: 0; box-sizing: border-box; padding: 0 20px; }
//	.layout-right-view { flex-grow: 1; flex-basis: 0; box-sizing: border-box; padding: 0 20px; }
//}


//.service-its {

//	/* ITS 페이지 가이드 */
//	&.page-user-guide {
//		.layout-page-title { padding-left: 0px; }
//		.layout-contents-inner { margin-top: 60px; }

//		.list-service-its { overflow: hidden; border-bottom: 1px solid #A6A5A6;
//			> dt { display: block; box-sizing: border-box; clear: both; float: left; padding: 20px; min-height: 80px; width: 400px; border-top: 1px solid #A6A5A6;
//				.btn-toggle { display: inline-block; margin-top: 3px; vertical-align: middle; text-indent: -9999px; @include retina-sprite($sl-icon-minus-03-group);
//					&[data-state=shut] { @include retina-sprite($sl-icon-plus-03-group); }
//				}

//				.section { display: inline-block; position: relative; margin-left: 25px; padding-left: 55px; font-size: rem(20); color: #000; vertical-align: middle;
//					&:before { content: ''; display:
//						block; position: absolute; top: 50%; left: 0; margin-top: -18px; }

//					strong { display: block; font-weight: 700; line-height: (20, 20); }
//					.description { display: block; font-size: rem(16); line-height: em(18, 16); }

//					&[data-state=alarm]:before { @include retina-sprite($sl-icon-service-alarm-01-b-hover-group); }
//					&[data-state=project]:before { @include retina-sprite($sl-icon-service-project-01-b-hover-group); }
//					&[data-state=request]:before { @include retina-sprite($sl-icon-service-request-01-b-hover-group); }
//					&[data-state=approval]:before { @include retina-sprite($sl-icon-service-approval-01-b-hover-group); }
//					&[data-state=portal]:before { @include retina-sprite($sl-icon-service-portal-01-b-group); }
//					&[data-state=asset]:before { @include retina-sprite($sl-icon-service-asset-01-b-group); }
//					&[data-state=metering]:before { @include retina-sprite($sl-icon-service-metering-01-b-group); }
//					&[data-state=monitoring]:before { @include retina-sprite($sl-icon-service-monitoring-01-b-group); }
//					&[data-state=dbqcs]:before { @include retina-sprite($sl-icon-service-dbqcs-01-group); }
//					&[data-state=devops]:before { @include retina-sprite($sl-icon-service-devops-01-group); }
//				}
//			}
//			> dd { display: block; float: right; width: 800px; border-top: 1px solid #A6A5A6; }
//		}

//		.toc { counter-reset: section; opacity: 1; visibility: visible; max-height: 9999px;
//			@include transition(opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, max-height 0.3s ease-in-out);

//			&[data-state=shut] { opacity: 0; visibility: hidden; max-height: 0; }

//			> li { box-sizing: border-box; position: relative; padding: 0 30px 0 30px; border-top: 1px solid #EEEEEE;
//				counter-increment: section;
//				&:before { content: counter(section) "."; display: inline-block; margin-right: 8px; font-size: rem(16); color: #0072F7; line-height: 50px; }
//				&:first-child { border-top: 0; }

//				a { display: inline-block; font-size: rem(16); color: #000; line-height: 50px; }
//				time { display: block; position: absolute; top: 0; right: 30px; font-family: $font-special-stack; font-weight: 400; color: #4A4A4A; line-height: 50px; }

//				.toc { counter-reset: chapter; margin: 0 -30px; border-top: 1px solid #EEEEEE;
//					> li { padding-left: 65px;
//						counter-increment: chapter;
//						&:before { content: counter(section)"."counter(chapter)"."; }
//					}
//				}
//			}
//		}

//	}


//	&.page-user-guide-detail { color: #000;
//		.layout-fixed { flex-direction: row; padding-bottom: 0px;
//			.layout-page-title { box-sizing: border-box; padding: 40px 27px 0 0; height: auto; min-width: 297px; width: 297px; line-height: 42px;
//				.layout-page-title-description { margin-top: 15px; }
//			}
//			.layout-contents-inner { justify-content: flex-start; padding-left: 40px; border-left: 1px solid #DDDDDD;
//				.layout-page-title { display: block; height: auto; padding-bottom: 50px; width: 100%; border-bottom: 1px solid #DDDDDD;
//					h1 {
//						&:before { content: ''; display: inline-block; margin: -3px 12px 0 0; vertical-align: middle; transform: scale(0.825); }
//					}
//					.layout-page-title-description { padding-left: 5px; }

//					&[data-state=alarm] {
//						h1:before { @include retina-sprite($sl-icon-service-alarm-01-b-hover-group); }
//					}
//					&[data-state=project] {
//						h1:before { @include retina-sprite($sl-icon-service-project-01-b-hover-group); }
//					}
//					&[data-state=request] {
//						h1:before { @include retina-sprite($sl-icon-service-request-01-b-hover-group); }
//					}
//					&[data-state=approval] {
//						h1:before { @include retina-sprite($sl-icon-service-approval-01-b-hover-group); }
//					}
//					&[data-state=portal] {
//						h1:before { @include retina-sprite($sl-icon-service-portal-01-b-group); }
//					}
//					&[data-state=asset] {
//						h1:before { @include retina-sprite($sl-icon-service-asset-01-b-group); }
//					}
//					&[data-state=metering] {
//						h1:before { @include retina-sprite($sl-icon-service-metering-01-b-group); }
//					}
//					&[data-state=monitoring] {
//						h1:before { @include retina-sprite($sl-icon-service-monitoring-01-b-group); }
//					}
//                    &.opsnow {
//                        h1:before {
//                            width: 40px;
//                            height: 40px;
//                            background:url('/assets/images/guide/opsnow/brand_ci_opsnow.svg#orange') center center no-repeat;
//                            background-size:40px;
//                        }
//                    }
//					&[data-state=dbqcs] {
//						h1:before { @include retina-sprite($sl-icon-service-dbqcs-01-group); }
//					}
//					&[data-state=devops] {
//						h1:before { @include retina-sprite($sl-icon-service-devops-01-group); }
//					}
//				}

//			}
//		}

//		.navigation-toc {
//		    opacity: 0;
//		    position: fixed;
//		    top: 120px;
//		    left: 50%;
//		    bottom: 70px;

//            span {
//                letter-spacing: -2px;
//                width: 270px;
//                display: inline-block;

//				&.too_line{
//					font-size:rem(28);
//				}

//                &:first-letter {
//                    text-transform:uppercase;
//                }
//            }

//		}
//		.shortcut-toc { display: block; overflow: auto; overflow-x: hidden; position: absolute; top: 120px; bottom: 0;

//			> li {
//                padding: 0 0 10px 0;

//                //그래 뭐 여기까지는 좋다고 치자.

//				.btn-section { display: block; box-sizing: border-box; padding: 0 0 0 15px; height: 50px; width: 270px; font-size: rem(14); font-weight: 400; color: #000; line-height: 48px; text-align: left; border: 1px solid #CACACA; background-color: #fff;
//					&:before { content: ''; display: inline-block; margin: -2px 10px 0 0; vertical-align: middle; transform: scale(1.2); }

//					&[data-state=alarm]:before { @include retina-sprite($sl-icon-service-alarm-01-hover-group); }
//					&[data-state=project]:before { @include retina-sprite($sl-icon-service-project-01-hover-group); }
//					&[data-state=request]:before { @include retina-sprite($sl-icon-service-request-01-hover-group); }
//					&[data-state=approval]:before { @include retina-sprite($sl-icon-service-approval-01-hover-group); }
//					&[data-state=portal]:before { @include retina-sprite($sl-icon-service-portal-01-group); }
//					&[data-state=asset]:before { @include retina-sprite($sl-icon-service-asset-01-group); }
//					&[data-state=metering]:before { @include retina-sprite($sl-icon-service-metering-01-group); }
//					&[data-state=monitoring]:before { @include retina-sprite($sl-icon-service-monitoring-01-group); }
//                    &.opsnow:before {
//                        width: 20px;
//                        height: 20px;
//                        background:url('/assets/images/guide/opsnow/brand_ci_opsnow.svg#orange') center center no-repeat;
//                        background-size:20px;
//                    }
//				}



//				&.active {
//					.btn-section { font-weight: 700; border: 1px solid #EEEEEE; background-color: #EEEEEE; }
//					.section-sub { display: block; }
//				}
//				.section-sub {
//					display: none;
//					padding: 10px 0;
//				 }

//				.btn-toggle { display: block; margin-top: 10px; font-size: rem(15); font-weight: 700; color: #000; padding-left:46px; text-indent:-46px;
//					&:before { content: ''; display: inline-block; margin: -4px 10px 0 15px; vertical-align: middle; @include retina-sprite($sl-icon-plus-03-group); }

//					~ .btn-toggle { margin-top: 30px; }

//					&.active {
//						&:before { @include retina-sprite($sl-icon-minus-03-group); }

//						+ .toc { display: block; }
//					}
//				}
//			}
//		}

//		.toc { display: none; counter-reset: section;
//			> li { box-sizing: border-box; position: relative; margin: 15px 0 0 0; padding: 0px 0px 0px 45px; line-height: 20px; position:relative;
//				counter-increment: section;


//				> a {
//						padding:0 0 0 18px;
//				    	display: inline-block;
//					    height: 20px;
//					    font-size: rem(14);
//					    font-weight: 400;
//					    color: #666;
//					    line-height: 20px;
//						position:relative;
//						&:before { content: counter(section) "."; display: inline-block; margin: 0 5px 0 0; height: 20px; font-size: rem(14); font-weight: 400; color: #666; line-height: 20px; position:absolute; top:0; left:0;

//						}

//					}

//				&.active {
//					&:before { font-weight: 700; color: #000; }
//					> a { font-weight: 700; color: #000; }
//				}

//                .toc {
//				    display: block;
//				    counter-reset: chapter;
//				    // margin: 13px -30px 0 -30px;

//                    >li {
//					    // padding-left: 57px;
//                        padding-left:17px;
//					    line-height: 20px;
//					    counter-increment: chapter;
//						a{
//							position:relative;
//							padding:0 0 0 42px;
//					    	display: inline-block;
//							&:before {
//						        content: "ㄴ" counter(section)"."counter(chapter)".";
//						        margin: 0 5px 0 0;
//						        font-size: rem(14);
//						        font-weight: 400;
//						        color: #666;
//						        line-height: 20px;
//								top:0;
//								left:0px;
//						    }
//						}


//						&.active {
//							&:before { font-weight: 700; color: #000; }
//							a { font-weight: 700; color: #000; }
//						}

//					}
//				}
//			}
//		}

//		.category { padding: 20px 0; border-bottom: 1px solid #EEEEEE;
//			.category-title { display: block; font-size: rem(20); font-weight: 700; line-height: em(29, 20); }
//			.category-description { display: block; margin-top: 7px; font-size: rem(14); line-height: em(22, 14); }
//		}

//        .chapter {
//			&.last_chapter{
//				padding:50px 0;
//				+ .chapter{
//					padding-bottom:50px;
//				}
//				.category{
//					padding:0 0 50px;
//				}
//			}
//		    padding: 10px 0 20px 0;
//		    border-bottom: 1px solid #DDDDDD;

//			h3.chapter-title {
//			    font-size: rem(16);
//			    font-weight: 700;
//			    line-height: em(24, 16);
//                margin-top:20px;
//			}

//			h4.chapter-sub-title {
//			    font-size: rem(16);
//			    font-weight: 700;
//			    line-height: em(24, 16);
//                margin-top:20px;
//			}
//			.chapter-title-description { margin-top: 10px; font-size: rem(14); line-height: em(22, 14); }
//			.location { display: inline-block; margin-top: 18px; padding: 0 10px; font-size: rem(13); color: #4A4A4A; line-height: 30px; border-radius: 1px; background-color: #E6EFFA;
//				em { font-weight: 700; }
//			}
//			.chapter-contents { padding: 0 0 0 18px;

//				.chapter { border-bottom: 0; }
//				.subordination {
//					.list-description{
//						padding-bottom:20px;
//						margin-left:18px;
//						> li{
//							color:#000;
//							padding-top:10px;
//							padding-left: 10px;
//							text-indent:-10px;
//							font-weight:400;
//							&:first-child{
//								padding-top:10px;
//							}
//						}
//					}
//					ul.list-description{
//						> li{
//							&:before{
//								content:none;
//							}
//						}
//					}
//				}
//                .list-description {
//				    counter-reset: seq;
//				    margin-top: 5px;

//                    > li {
//					    padding-top: 30px;
//					    font-size: rem(14);
//					    font-weight: 700;
//					    color: #0072F7;
//					    line-height: em(22, 14);
//						counter-increment: seq;
//                        line-height:1.5;


//						&:before {
//						    content: counter(seq)")";
//                            margin-right:0.3em;
//						}

//						figure { display: flex; flex-direction: column;
//							figcaption { margin-top: 10px; font-size: rem(14); font-weight: 400; color: #666; line-height: em(22, 14); }
//						}

//                        p {
//                            margin:0.6em 0;
//                            color:#333;
//                            font-weight:400;
//                            line-height:1.5;
//                        }

//                        ol,
//                        ul {
//                            margin:1em 0 0 1em;

//                            > li {
//                                margin-top:0.6em;
//                            }

//                            > li:first-child {
//                                padding-top:0;
//                                margin-top:0;
//                            }
//                        }
//					}

//                    > li:first-child {
//                        padding-top:15px;
//                    }
//				}
//			}

//            table {
//                margin-top:20px;
//                color:#000;
//                width:100%;
//                border-bottom:1px solid #EAEAEA;

//                th,td {
//                    border-top:1px solid #EAEAEA;
//                    text-align:left;
//                    font-size:rem(14);
//                }

//                td {
//                    font-weight:400;
//                    padding:20px 10px;
//                    line-height:1.6;
//					&.num{
//						background:#FFF2CC;
//						color:#FF2600;
//					}
//					&.compare{
//						background:#FCE4D6;
//						color:#D0280C;
//					}
//                }

//                th {
//                    padding:10px;
//                }

//                thead th {
//                    font-weight:normal;
//                }

//                tbody th {
//                    font-weight:700;
//                }


//                tbody th,
//                tbody td {
//                    padding:20px 10px !important;
//                    vertical-align:top;
//                }

//                table tbody th strong {
//                    font-weight:700 !important;
//                    display:inline-block;
//                    margin-bottom:1em;
//                }

//            }
//            table.extra tbody th[rowspan] {
//                border-right:1px solid #eaeaea;
//            }

//            table.extra tbody td {
//                border-left:1px solid #eaeaea;
//            }
//		}

//		.screenshot{
//			table {
//				border-bottom:0 !important;
//				table-layout:fixed;

//				th,td {
//					border:0;
//					text-align:left;
//					font-size:rem(14);
//				}

//				td {
//					padding:0 !important;;
//				}

//				th {
//					padding:0 !important;;
//				}

//				thead th {
//					font-weight:normal;
//				}

//				tbody th {
//					font-weight:700;
//				}


//				tbody th,
//				tbody td {
//					padding:0 !important;
//					vertical-align:middle;
//				}

//				table tbody th strong {
//					font-weight:700 !important;
//					display:inline-block;
//					margin-bottom:1em;
//				}

//			}
//		}
//	}
//}

//.layout-footer .service .title {
//	height: 34px;
//    line-height: 34px;
//	zoom:1;
//}

//@media print {
//	* {	//don't show anything
//		display:none
//	}
//	// stop before make policy
//	//@import "./bsp_its_guide_print";
//}
//select, input { vertical-align: top; border: 0px; border-radius: 0; background-color: transparent; }


//figure .screenshot {
//    padding:5px 0 5px 0;
//}

//figure .screenshot.align.center {
//    text-align:center;
//}

//figure .screenshot.align.center + figcaption,
//table + .explain {
//    text-align: center;
//}
//table + .explain{
//	margin:10px 0 10px;
//}

//.align.center {
//    text-align:center;
//}

//figure figcaption,
//.explain {
//    font-size: .875rem;
//    font-weight: 400;
//    line-height: 1.57143em;
//    margin-top: 0;
//    color: #666;
//    text-align:center;
//}


///* 데모용도의 버튼 */
//span.black.middle.button {
//  cursor:default;
//  border: 0;
//  outline: 0;
//  background: transparent;
//  -moz-appearance: none;
//  appearance: none;
//  -webkit-appearance: none;
//  display: inline-block;
//  line-height: 1.1;
//  box-sizing: border-box;
//  text-align: center;
//  font-family: inherit;
//  border-radius: 0;
//  transition: color 0.3s ease-in-out;
//  padding: 0 10px;
//  height: 32px;
//  min-width: 50px;
//  font-size: 0.75rem;
//  line-height: 26px;
//  color: #fff;
//  border: 2px solid #000;
//  background: #000;
//  text-transform: normal;
//  padding: 0 20px;
//  height: 32px;
//  font-size: 0.875rem;
//  line-height: 26px;
//}


