/* 
 * Noto Sans Korean
 */
 
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'),
  url(../font/NotoSansKR-Light-Hestia.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
  url(../font/NotoSansKR-Regular-Hestia.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
  url(../font/NotoSansKR-Medium-Hestia.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url(../font/NotoSansKR-Bold-Hestia.woff) format('woff');
}
